@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&display=swap');

body{
    font-family: 'Bodoni Moda', serif;
}
h1{
    font-weight: 100;
    font-size: 48px;
}

.f-white {
    color: #e3e3e3;
}

.f-gigant{
    font-size:60px
}